<header class="pass-head">
    <h1></h1>
</header>
<div class="pass-wrap">
    <dl class="form-login">
        <form [formGroup]="ChangePwdForm" (ngSubmit)="ChangePwd()" name="passwordPinForm">
            <dt style="color: #000;">Change Password</dt>
            <dd><input id="newPwd" type="password" placeholder="New Password" formControlName="newpwd"></dd>
            <dd><input id="confirmPwd" type="password" placeholder="New Password Confirm" formControlName="retypepwd">
            </dd>
            <dd><input id="currentPwd" type="password" placeholder="Old Password" formControlName="pwd"></dd>
            <dd>
                <a id="submit" class="btn-send" (click)="ChangePwdForm.invalid?'':ChangePwd()">Change</a>
                <button type="submit" style="display: none;"></button>
            </dd>
            <!-- <dd id="errorMsg" class="error"></dd> -->
        </form>
    </dl>

    <div class="txt-wrap">
        <ul>
            <li>
                <ng-container *ngIf="newpwd.errors?.required && f.newpwd.touched">
                    Password is required
                </ng-container>
                <ng-container *ngIf="f.newpwd.errors">
                    <span *ngIf="ChangePwdForm.get('newpwd').hasError('passwordStrength')">
                        {{ChangePwdForm.get('newpwd').errors['passwordStrength']}}</span>
                </ng-container>
                <ng-container *ngIf="retypepwd.errors?.required && f.retypepwd.touched">
                    Confirm Password is required
                </ng-container>
                <ng-container *ngIf="retypepwd.errors?.mustMatch">New
                    Password and retype Password should be same !
                </ng-container>
                <ng-container *ngIf="pwd.errors?.required && f.pwd.touched">
                    Old Password is required
                </ng-container>

                <ng-container *ngIf="result">
                    {{result}}
                </ng-container>
            </li>
            <!-- <li>Password must have 8 to 15 alphanumeric without white space</li>
            <li>Password cannot be the same as username / nickname</li>
            <li>Must contain at least 1 capital letter, 1 small letter and 1 number</li> -->
            <!-- <li>Password must not contain any special characters (!,@,#,etc..)</li> -->
        </ul>
    </div>
</div>