<!-- promotion slider -->
<div id="promoteWrap" class="promo-banner-wrap">
    <div class="promo-banner">
        <ul class="slides">
            <ng-container *ngIf="siteName == 'cricbuzzerlive'">
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/assets/images/mobile/promo/cricbuzzer/slider1.webp" alt="slider1" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/assets/images/mobile/promo/cricbuzzer/slider2.webp" alt="slider2" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/assets/images/mobile/promo/cricbuzzer/slider3.webp" alt="slider3" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/assets/images/mobile/promo/cricbuzzer/slider4.webp" alt="slider4" /></a>
                </li>
            </ng-container>
            <ng-container *ngIf="siteName == 'cricbuzzerlive'">
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/m/assets/images/mobile/promo/cricbuzzercom/5.webp" alt="slider1" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/m/assets/images/mobile/promo/cricbuzzercom/6.webp" alt="slider1" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/m/assets/images/mobile/promo/cricbuzzercom/7.webp" alt="slider1" /></a>
                </li>
            </ng-container>
            <ng-container *ngIf="siteName=='cricbuzzercom'">
              
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/m/assets/images/mobile/promo/cricbuzzercom/1.webp" alt="slider1" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/m/assets/images/mobile/promo/cricbuzzercom/2.webp" alt="slider2" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/m/assets/images/mobile/promo/cricbuzzercom/3.webp" alt="slider3" /></a>
                </li>
                <li class="banner"><a href="#"  target="_blank"><img src="https://b2c.static112233.com/m/assets/images/mobile/promo/cricbuzzercom/4.webp" alt="slider4" /></a>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="promo-banner-loading"></div>
</div>

