.ageplus{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    animation: fadeIn 0.5s ease;
}

.dialog{
    width: 90%;
    margin-left: 5%;
}

.announce-wrap1 {
    position: relative;
    top: 12%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}

.announce-header1 {
    height: 56px;
    padding-left: 24px;
    border-bottom: 1px solid #e0e6e6;
}
.announce-header1 h1 {
    color: #000;
    font-size: initial;
    line-height: 56px;
}

.announce-footer1 {
    max-height: 73px;
    padding: 12px 0;
    background: #fff;
    border-top: 1px solid #e0e6e6;
    font-size: 16px;
    border-radius: 0 0 8px 8px;
    justify-content: center !important;
    text-align: -webkit-center;
}

.tc-content {
    overflow-y: scroll;
    height: 452px;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 24px;
    color: #474747;
}
